
.filtro{
  background-color: black;
  color: white;
}

option{

  background-color: black;
  color: white;
}

#sede{
 background-color: black;
 color: white;
}

section{

  float:right;
  background-color: darkgrey;
}
